extends layout

block content

  section.mt-5
  .container.p-2
    .row
      .col-lg-8.mx-auto.text-center
        h1.display-4 OpsWorks
        p.lead.m-2 A central place where you can find any kind of resources for setup at your desktop or server or virtual machine. 

  .container.topics-space
    .row
      each product in prods
        .col-lg-4.topic-row-space
          a.headers.btn.btn-sm.btn-flash-border-secondary(href='/page/'+product) #{product}
              
                  
     
