body {
  padding: 25px;
  background: #F4F7FD;
  margin-top:20px;
}

a {
  color: #00B7FF;
}


.headers {
    text-transform: capitalize;
    
}

.topics-space {
  margin-top: 100px;
  text-align: center;
}

.topic-row-space{
  margin: 30px 0;
}